
@charset "utf-8";
body { margin:0; padding:0; width:100%; background-color:#fff; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}

.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
h1 { margin:0; padding:16px 0 24px; color:#666; font:normal 40px/1.2em Arial, Helvetica, sans-serif;}
h1 a, h1 a:hover { color:#666; text-decoration:none;}
h1 span { color:#1872a6;}

p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}


.dia a{color:#999; text-decoration:none; font-size:18px; display:inline-block; padding:20px; margin-right:120px; text-decoration:none;}
.dia a:hover{color:#000000; font-size:19px;}




/* header */
.header {}
.header_resize {margin:0 auto; width:1000px;}
.header .logo {border-top:8px solid #272f33; width:95%; margin:0 auto;}

/* hbg */
.hbg {  margin-bottom:32px;}

.hbg .hbg_r {color:#1872a6;}

.hbg h2 { font:bold 24px/1.5em Arial, Helvetica, sans-serif;text-transform:uppercase;}


.hbg_resize{margin:0 auto;width:1000px; height:1300px; border-bottom:8px solid #272f33;}
.hbg_resize1{margin:0 auto;width:1000px; height:1100px; border-bottom:8px solid #272f33;}
.hbg_resize2{margin:0 auto;width:1000px; height:900px; border-bottom:8px solid #272f33;}
.hbg_resize3{margin:0 auto;width:1000px; height:800px; border-bottom:8px solid #272f33;}
.hbg_resize4{margin:0 auto;width:1000px; height:650px; border-bottom:8px solid #272f33;}




.hbg .setbox{margin:auto;}
	  

.hbg .nav_menu ul { margin:0 12px 0 0; padding:0 20px; float:left; width:auto; list-style:none; height:57px; background-color:#272f33;}
.hbg .nav_menu ul li { margin:0; padding:15px 1px; float:left; height:27px;}
.hbg .nav_menu ul li a { display:block; margin:0; padding:4px 12px 0; color:#9fa0a0; text-decoration:none;}
.hbg .nav_menu ul li a:hover, .hbg .nav_menu ul li.active a { color:#fff; border-bottom:4px solid #1872a6;}


a.bottom {color:#1872a6; margin:-25 20; text-decoration:none; font-size:18px; display:inline-block; float:left;}
a.bottom:hover{color:#0056BF; font-size:19px;}
